/* Date: 30 December 2020.
w3s-c2s-tut-styles.css
https://kjrm209.github.io/w3schools-css-tutorial/w3s-c2s-tut-styles.css
//
Date: 29 December 2020.
W3Schools - CSS - CSS Tutorial - CSS Image Gallery
https://www.w3schools.com/css/css_image_gallery.asp 
*/


div.gallery {
margin: 5px;
border: 1px solid #ccc;
float: left;
width: 180px;
}



div.gallery:hover {
border: 1px solid #777;
}



div.gallery img {
    width: 100%;
    height: auto;
}



div.desc {
    padding: 15px;
    text-align: center;
}
